/** @module App.scss */

@import "./colors.scss";

//variables

$people-size: 30px;
$tile-size: 110px;
$board-width: 1320px;

// mixins

@mixin card-size {
  width: 125px;
  height: 200px;
}

@mixin square-size {
  width: $tile-size;
  height: $tile-size;
}

.pompeii-card {
  @include card-size;
}

.main-container {
  min-width: 1840px;
  .board-container {
    width: $board-width;
    .overlay-occupancy {
      position: absolute;
      top: 0;
      left: 0;
      min-width: $board-width;
      height: 100%;
      .occupancy-square {
        @include square-size;
        position: absolute;
        display: flex;
        justify-content: center;
        white-space: normal;
        div {
          align-self: center;
          .person {
            display: inline-block;
            height: $people-size;
            width: $people-size;
            text-align: center;
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            border-color: #000000;
            span {
              color: #ffffff;
            }
            &:hover {
              opacity: 1;
            }
            &.highlight:hover {
              -moz-box-shadow: 0px 0px 3px 3px yellow;
              -webkit-box-shadow: 0px 0px 3px 3px yellow;
              box-shadow: 0px 0px 3px 3px yellow;
            }
          }
        }
      }
    }
  }
  .off-board {
    margin: 0 15px 0 15px;
    width: 510px;
    .discard-pile-empty {
      @include card-size;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid grey;
    }
    .tile-pile {
      button {
        margin-top: 45px;
        margin-bottom: 45px;
        border: 2px solid transparent;
      }
    }
    .deck-container {
      min-height: 224px;
      .deck {
        border: 2px solid transparent;
      }
    }
    .players-container {
      max-height: 740px;
      width: 530px;
      overflow-x: hidden;
      overflow-y: auto;
      .person {
        display: inline-block;
        height: 23px;
        width: 23px;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}

fieldset {
  border: 1px solid rgba(25, 58, 74, 0.1);
  margin-left: -5px;
  padding-left: 5px;
  max-width: 100%;
  height: 230px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  //Material-UI 'Paper' effect
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  * {
    margin-right: 0px;
  }
  legend {
    width: initial;
    max-width: initial;
    line-height: 1;
    font-size: 0.95rem;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    span {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.MuiButtonBase-root {
  opacity: 1;
  &:hover {
    opacity: 0.9;
  }
}

.highlighter {
  @include square-size;
  position: absolute !important;
  div {
    @include square-size;
    background-color: #ff0000;
    opacity: 0.4;
  }
}

/*
 Cancel Buttons
----------------*/
.cancel-buttons {
  position: absolute;
  top: 30px;
  left: 1200px;
  div {
    display: inline-block;
    button {
      width: 40px;
      text-align: center;
      .fa-ban {
        display: none;
        position: absolute;
        left: 4px;
      }
    }
    &:hover {
      opacity: 1;
      .fa-ban {
        display: inline;
      }
    }
  }
}

/* 
 Snackbar
---------- */

.custom-snackbar {
  color: #ffffff;
  &.success > div {
    color: #cccccc;
    background-color: rgb(180, 201, 83);
  }
  &.info > div {
    background-color: #153a4a;
  }
  &.warning > div {
    background-color: rgb(217, 174, 65);
  }
  &.error > div {
    background-color: #ce3426;
  }
}

/*
 Buttons
--------- */

.btn {
  border-color: transparent;
  color: $color-dark-blue;
  font-size: inherit !important;
  text-transform: initial !important;
  &.center {
    left: 30%;
  }

  &:hover {
    border-color: transparent;
    color: $color-dark-blue;
    opacity: 0.7;
  }

  &.btn-primary {
    background-color: $color-green !important;
  }

  &.btn-secondary {
    background-color: $color-dark-blue !important;
    color: $color-white;
    &:hover {
      color: $color-white;
    }
  }

  &.btn-info {
    background-color: $color-tan !important;
  }

  &.btn-warning {
    background-color: $color-rust !important;
    color: $color-white;
    &:hover {
      color: $color-white;
    }
  }

  &.btn-light {
    color: $color-dark-blue;
  }

  &.btn-light-alt {
    color: $color-white-masked;
  }

  &.btn-grey {
    background-color: $color-alt-grey;
    color: $color-white;
    font-size: 0.85rem !important;
    width: 190px;
    &.active {
      background-color: $color-dark-blue;
    }
    &:hover {
      background-color: $color-grey;
    }
  }

  &.disabled,
  &:disabled {
    background-color: $color-light-grey !important;
  }

  &.btn-pill {
    border-radius: 10px;
  }

  &.nopadding {
    margin: 0;
    padding: 0 2px 0 2px;
    min-width: initial;
    width: initial;
    min-height: initial;
  }

  span.far,
  span.fas {
    margin-top: -3px;
  }
}
