/** @module colors.scss */

$color-purple: #5e5eaf;
$color-green: #006a5c;
$color-magenta: #7c0044;
$color-blue: #0053a7;
$color-olive: #afaf5e;
$color-red: #C92722;

$color-black: #000;
$color-white: #fff;
$color-grey: rgba(0, 0, 0, 0.3);
$color-light-grey: rgba(255, 255, 255, 0.3);
$color-gold: #FFD700;

.color-purple {
  color: $color-purple;
}

.color-green {
  color: $color-green;
}

.color-magenta {
  color: $color-magenta;
}

.color-blue {
  color: $color-blue;
}

.color-olive {
  color: $color-olive;
}

.color-black {
  color: $color-black;
}

.color-grey {
  color: $color-grey;
}

.color-light-grey {
  color: $color-light-grey;
}

.color-gold {
  color: $color-gold;
}
