/** @module colors.scss */

$color-dark-blue: #153a4a;
$color-dark-blue-masked: rgba(25, 58, 74, 0.9);
$color-dark-grey: #252a2a;
$color-alt-grey: #8a989f;
$color-light-grey: #cccccc;
$color-alt-light-grey: #e4e4e4;
$color-light-red: #f8d7da;
$color-green: rgb(180, 201, 83);
$color-green-masked: rgba(180, 201, 83, 0.5);
$color-light-green: #d9e4a9;
$color-grey: #5f7078;
$color-pale-blue: rgb(221, 238, 243);
$color-pale-yellow: #fafad2;
$color-red: #d6051e;
$color-rust: #762f0c;
$color-rust-masked: rgba(118, 47, 12, 0.2);
$color-tan: rgb(217, 174, 65);
$color-tan-masked: rgba(217, 174, 65, 0.2);
$color-transparent: rgba(255, 255, 255, 0);
$color-white: rgba(255, 255, 255, 1);
$color-white-masked: rgba(255, 255, 255, 0.9);
$color-disabled-gray: #e9ecef;
$color-black: #000000;
$color-yellow: #ffff00;
